<!-- Highlight Card -->
<div class="card highlight-card card-small">
  <svg id="rocket" alt="Rocket Ship" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
    <!-- Definição do SVG -->
  </svg>
  

    <!-- Car Detail Component -->
    <app-car-detail [car]="car"></app-car-detail>

    <!-- Car List Component -->
    <h2>Car List</h2>
    <app-car-list>app-car-list</app-car-list>
  
    <!-- User Detail Component -->
    <h2>User Detail</h2>
    <app-user-detail>app-user-detail</app-user-detail>
  
    <!-- User List Component -->
    <h2>User List</h2>
    <app-user-list>>app-user-list</app-user-list>
  
  <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
    <!-- Definição do SVG -->
  </svg>
</div>